.Link > button{

    margin: 15px;
    text-decoration: none;
    color: white;
    font-weight: 650;
    font-size: large;
}
.lb{
  border: none;
  background-color: transparent;
  color: white !important;
  padding: 5px 25px;
}
.lb:hover{
  border-radius: 10px;
  background-color: #BF2EF0;
}

.Navb{

  float: right;
}

#A{

  background-color: black;
  color: white;
 
}

.slide{
  background-color: rgba(0,0,0,0.5);
  height: 605px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.slidecon{
  text-align: center;
}
.slidecon > h1{
  font-size: 90px;
  color: white;
  margin-bottom: 50px;
}

.background-clip{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hb{
  background-image: url("../assets/images/bg3.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  color: white;
  /* height:"850px"  */
  
}

#hb1{
  background-image: url("../assets/images/busbg.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  color: white;
}

#S > form > div > div > input{
    height: 45px;
    width: 85%;
    /* border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    margin-top: 10px;
    margin-left: 13px; */
  }


  .testbutton {
    font-family: arial;
    font-weight: bold;
    color: white !important;
    font-size: 18px;
    text-shadow: 0px 0px 0px #7CACDE;
    
    padding: 5px 25px;
    margin-top: 15px;
    margin-left: 0px;
    border-radius: 10px;
    border: 2px solid #BF2EF0;
    background: #BF2EF0;
  }
  .testbutton:hover {
    color: white !important;
    background: #c569e3;
  }

  .testbuttonbt {
    font-family: arial;
    font-weight: bold;
    color: white !important;
    font-size: 20px;
    text-shadow: 0px 0px 0px #7CACDE;
    width: 100%;
    height: 45px;
    
    padding: 5px 25px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px;
    border: 2px solid #BF2EF0;
    background: #BF2EF0;
  }
  .testbuttonbt:hover {
    color: white !important;
    background: #c569e3;
  }

  #L > form > div > input{
    height: 45px;
    width: 85%;
    /* border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    margin-top: 10px;
    margin-left: 13px; */
  }

  .testbutton1 {
    font-family: arial;
    font-weight: bold;
    color: white !important;
    font-size: 18px;
    text-shadow: 0px 0px 0px #7CACDE;
    
    padding: 5px 25px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px;
    border: 2px solid #BF2EF0;
    background: #BF2EF0;
  }
  .testbutton1:hover {
    color: white !important;
    background: #c569e3;
  }

  .testbuttonhp{
    font-family: arial;
    font-weight: bold;
    color: white !important;
    font-size: 18px;
    text-shadow: 0px 0px 0px #7CACDE;
    
    padding: 5px 25px;
    margin-top: 0px;
    /* margin-left: 20px; */
    margin-bottom: 25px;
    border-radius: 10px;
    border: 2px solid #BF2EF0;
    background: #BF2EF0;
  }

  .testbuttonhp:hover {
    color: white !important;
    background: #c569e3;
  }

.sbox{

  border-radius: 20px;
  border: 1px solid rgb(207, 89, 228);
  background-color: transparent;
  color: white;
}

.card1 {
  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgb(207, 89, 228);
  box-shadow: 0px 0px 6px 3px rgba(249, 246, 246, 0.59);
  /* box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.59); */
}

.card2 {
 
  background-color: rgba(255, 255, 255, 0.397);
  border-radius: 12px;
  border: 1px solid rgb(207, 89, 228);
  /* box-shadow: 0px 0px 6px 3px rgba(249, 246, 246, 0.59); */
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.59);
}


#BT{

  background-image: url("../assets/images/b6.jpg");
  background-size: cover;
  background-position: center;
  /* background: #E634DD;
  background: linear-gradient(to right, #E634DD 0%, #000000 100%); */

  /* border-radius: 25px;
  border: 1px solid black; */
  color: white;
  height: 450px;
  /* box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.59); */
}

#BTB{
  background-color:rgba(1, 15, 85, 0.6);
  height:450px;
  padding-top:50px;
}



#fom > div > div > input{

  height: 45px;

}



.sb{
  /* background-image: url("../assets/images/bg2.jpg"); */
  background-position: center;
  background-size: cover;
  background: #f02ee3;
  background: linear-gradient(to right, #f02ed3 0%, #f02ed9 24%, #E4E4E4 75%, #FFFFFF 100%);

}

.sg > div > div > p{
  font-size: 18px;
}

.sg1 > div > div > p{
  font-size: 18px;
}


.bl > div > p {
  font-size: 25px;
}

.bl1 > div > p {
  font-size: 20px;
}

.bl1 > div {
  text-align: center;
}

.list1{
  border: 1px solid gray;
  border-radius: 20px;
  /* box-shadow: inset 30px 5px 4px 1px rgba(245, 46, 255, 1); */
  background-image: url("../assets/images/bg5.jpg");
  background-position: center;
  background-size: cover;
}

.list1:hover{
  box-shadow:  0px 0px 4px 2px rgba(72, 72, 72, 0.349) ;
  /* box-shadow: inset 30px 5px 4px 1px rgba(0, 0, 0, 1); */
}

.sigpag > img {
  position: absolute;
  top: 400px;
  left: 50px;
}

.sbus{
  display: block;
}

.Ainp  {
  /* margin-top: 20px; */
  background-image: url("../assets/images/bg5.jpg");
  background-position: center;
  background-size: cover;
}


.Ainp > form > div > div > div {
  margin-top: 20px;
}

.Ainp > form > div > div > div > input {
  margin-top: 8px;
  border: 1px solid purple;
  height: 45px;
}

.Ainp > form > div > div > div > div > input {

  border: 1px solid purple;
 
}

.Ainp > form > div > div > div > label {
  font-size: larger;
}



@media all and (max-width:500px){

  #S > form > div > div > input{

    height: 50px;
    width: 82%;
  
  }

  .testbutton {
  
    padding: 10px 25px;
    margin-top: 15px;
    margin-left: -7px;
    font-size: 20px;
   
  }

  #L > form > div > input{
    height: 50px;
    width: 82%;
  
  }
  .testbutton1 {
  
    padding: 10px 25px;
    margin-top: 15px;
    margin-left: 5px;
    margin-left: -7px;
   
  }

  #BT{

    height: 500px;
  }
  
  #BTB{
    height: 500px;
  }

  .testbuttonbt {
  
    padding: 10px 25px;
    /* margin-top: 20px; */
    margin-left: 5px;
    font-size: 25px;
    height: 50px;
   
  }

  #fom > div > div > input{

    height: 55px;
  
  }

  

  /* #hb{
    height: 1900px;
  } */

  .sg > div > svg{
    margin-left: 80px;
  }

  .sg1 > div > svg{
    margin-left: 55px;
  }

  .bl > div {
    margin-top: 10px;
  }

  .bl1 > div {
    text-align: start;
  }

 

  .testbuttonbt {
    padding: 5px 25px;
    margin-top: 15px;
    margin-left: -10px;
    border-radius: 10px;
    border: 2px solid #BF2EF0;
    background: #BF2EF0;
  }

  .sbus{
    display: none;
  }

  .card2 {
    background-color: rgba(255, 255, 255, 0.33);
  }

}

@media (min-aspect-ratio:16/9) {

  .background-clip{
    width: 100%;
    height: auto;
  }
  
}

@media (max-aspect-ratio:3/4) {

  .background-clip{
    width: auto;
    height: 100%;
  }
  
}
